@import "../variables.less";

.header {
    background-color: @dark-grey;
    padding: 1rem 2rem;
}

.container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.navigation {
    display: none;
    margin: 0;

    li {
        display: block;
        list-style-type: none;
        margin-bottom: 0;

        a:hover {
            color: @white;
        }
    }
}

.navigation-mobile {
    background-color: rgba(0,0,0,0.75);
    left: 50%;
    list-style-type: none;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 15.5%;
    position: absolute;
    right: 50%;
    text-align: center;
    top: 76px;
    width: 100vw;

    a:hover {
        color: @white;
    }
}

.name {
    margin: 0;
}

.name {
    color: @white;

    &:hover {
        color: @light-blue;
    }
}

.menu-button {
    background-color: transparent;
    border: 2px solid @light-blue;
    color: @white;
    height: 42px;
    font-size: 24px;
    width: 42px;

    &:hover {
        color: @dark-blue;
        background-color: @light-blue;
        border: 2px solid @light-blue;
    }
}

@media only screen and (min-width: @resolution-medium) {
    .navigation {
        display: initial;

        li {
            display: inline-block;
            padding-right: 24px;
        }
    }

    .button-container {
        display: none;
    }

    .navigation-mobile {
        display: none;
    }
}
