@import "../variables.less";

.header {
    display: flex;
    
}

.navigation {
    display: flex;
    float: right;
    margin: 0;

    li {
        display: inline-block;
        list-style-type: none;
    }
}

.name {
    color: @white;
}
